.texte {
    display: "flex";
    flex-direction: "column";
    justify-content: flex-start;
    width: 60rem;
}

h2.MuiTypography-root.MuiTypography-h2.css-1sra7t5-MuiTypography-root {
    font-size: 2rem;
    font-weight: 600;
}

h3.MuiTypography-root.MuiTypography-h3.css-gepadz-MuiTypography-root {
    font-size: 2rem;
    font-weight: 600;
}

p.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
    font-size: 1.125rem;
    font-style: italic;
}

span.MuiChip-label.MuiChip-labelMedium.css-6od3lo-MuiChip-label {
    font-size: 1.8125rem;
}

input#r31.base-NumberInput-input {
    width: 40px;
}

.bouton {
    cursor: pointer;
}