p.select.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
    font-size: 2rem;
    color: #3b438b;
    font-weight: 700;
}

p.total.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
    font-size: 1.5rem;
    font-weight: 600;
}